<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name=" Weather Tests">
<test name="weathertesting">

<parameter name="base_uri" value="http://api.openweathermap.org"></parameter>
<classes>
<class name="testweather.apiTest">

<methods>
<include name="test_getWeatherByCity()"/>
</methods>
</class>
</classes>

</test>

</suite>